  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.header-background {
    background-color: black;
    height: 200px;
}

.header {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 50px;
}

.logo-main {
    height: 100%;
    margin: auto;
    background-image: url(image-assets/axiom-logo-main.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: top center;
    width: 100%;
    max-width: 500px;
}

.container {
    width: max-content;
    margin: auto;
}

.search-box {
    width: 350px;
    height: 25px;
    background-color: white;
}

.search-box-text ::after {
    content: 'Search for gear';
}

.sub-nav {
    width: fit-content;
    height: 25px;
    color: white;
    display: flex;
    flex-direction: row;
    margin: 30px 0px 30px 0px;
    padding-left: 14px;
}

.sub-nav ul {
    list-style: none;
    display: flex;
    margin-top: 5px;
}


.sub-nav li {
    float: left;
    padding: 0px 8px;
}

.sub-nav-links li:not(:last-child) ::after {
    content: '|';
    padding-left: 18px;

}

.social-icons {
    background-image: url(image-assets/fb-icon.png), url(image-assets/twitter-icon.png);
    background-position: left center, right center;
    background-repeat: no-repeat, no-repeat;
    background-size: auto auto, auto auto;
    width: 50px;

}

.sub-nav-links {
    margin-left: 30px;
    position: absolute;
}

.nav-background {
    background-color:#ececec;
    height: 200px;
    font-family: 'Raleway', sans-serif;
    color: black;
}

.navigation {
    background-color:#ae2f2f;
    height: 50px;
    font-family: 'Raleway', sans-serif;
    color: black;
    margin-top: 125px;
}


.product {
    background-image: url("image-assets/topsection-background.png");
    background-size: cover;
    background-position: center;
    height: 200px;
}

.about-product {
    background-color: #898989;
    height: 200px;
}

.reviews {
    background-color: #00314f;
    height: 200px;
}

.footer {
    background-color: black;
    height: 50px;
}