  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
    background-color: black;
}
.header-background {
    height: 150px;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;

    height: inherit;
}

.logo-main {
    height: 100%;
    margin: auto;
    background-image: url(image-assets/axiom-logo-main.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
    width: 100%;
    max-width: 500px;
}

.container {
    width: inherit;
    margin: auto;

}

.search-box {
    width: 350px;
    height: 25px;
    background-color: white;
    margin-bottom: 30px;
}

.search-box-text ::after {
    content: 'Search for gear';
}

.sub-nav {
    width: fit-content;
    height: 25px;
    color: white;
    display: flex;
    flex-direction: row;
    padding-left: 14px;
    font-size: 10px;
    margin: auto;
}

.sub-nav ul, .grid-container ul {
    list-style: none;
    display: flex;
    margin-top: 5px;
    color: white;
}


.sub-nav li {
    float: left;
    padding: 0px 8px;
}

.sub-nav-links li:not(:last-child) ::after {
    content: '|';
    padding-left: 18px;

}

.sub-nav-links li:not(:last-child) ::after {
    content: '|';
    margin: 5px;
    padding: 0px;

}

.social-icons {
    background-image: url(image-assets/fb-icon.png), url(image-assets/twitter-icon.png);
    background-position: left center, right center;
    background-repeat: no-repeat, no-repeat;
    background-size: 8px 11px, 15px 10px;
    width: 50px;

}



.nav-background {
    background-color:#ececec;
    height: 60px;
    font-family: 'Raleway', sans-serif;
    color: black;
}




.product {
    background-image: url("image-assets/topsection-background.png");
    background-size: cover;
    background-position: center;
    height: 500px;
}

.about-product {
    background-color: #898989;
    height: 200px;
}

.reviews {
    background-color: #00314f;
    height: 200px;
}

footer {
    background-color: black;
    height: 20px;
}

footer .grid-container {
    padding: 10px;
}

footer .logo-main {
    background-size: 70px;
}

.margin-right {
    margin-right: 20px;
}

footer .sub-nav-links li {
    padding: 0px;
}

.margin {
    padding: 0px 100px;
}


