  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
    background-color: black;
}

h1, h2, h3, p {
    font-family: 'Raleway';
    color: rgba(255, 255, 255, 0.85);
}

h1, h2, h3 {
    font-weight: 400;
}

p {
    font-family: 'Raleway';
    color: white;
}

.main-content{
    min-width: max-content;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.row-container {
    display: flex;
    flex-direction: row;
    width: inherit;
    height: 500px;
}

.margin-right {
    margin-right: 20px;
}

.parent-container {
    width: 1000px;
    display: flex;
    margin: auto;
    height: inherit;
    padding: 0px 50px;
}


.header-background {
    height: 150px;
    background-color: black;
}

.grid-container {
    display: flex;
    width: inherit;
    height: inherit;
}

.logo-main {
    height: 100%;
    margin: auto;
    background-image: url(image-assets/axiom-logo-main.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left center;
    width: 100%;
    flex: 2;
}

.container {
    margin: auto;
    flex: 1;
}

.search-box {
    width: 260px;
    height: 25px;
    background-color: white;
    margin: auto 0px 30px auto;
}

.search-box-text ::after {
    content: 'Search for gear';
}

.sub-nav {
    width: fit-content;
    height: 25px;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    margin: auto 0px auto auto;

}

.nav-links {
    margin-top: 2.5px;
}

.nav-links li:not(:last-child) ::after {
    content: '|';
    margin: 15px;

}

footer .nav-links li:not(:last-child) ::after {
    margin: 5px;
}

.nav-links ul {
    list-style: none;
    display: flex;
    margin: 5px;
    color: white;
}

.nav-background .nav-links ul {
    margin: auto;
    color: #00314f;
    font-size: 25px;
    width: 800px;
    padding: 0px;
}

.nav-background .nav-links li ::after {
    margin: 0px 45px 0px 45px;
    }

    .nav-background .nav-links li {
        flex: 1;
        }



.social-icons {
    background-image: url(image-assets/fb-icon.png), url(image-assets/twitter-icon.png);
    background-position: left center, right center;
    background-repeat: no-repeat, no-repeat;
    background-size: 6px 11px, 16px 10px;
    width: 40px;

}



.nav-background {
    background-color:#ececec;
    height: 60px;
    font-family: 'Raleway', sans-serif;
    color: black;
    display: flex;
}




.product {
    background-image: url("image-assets/topsection-background.png");
    background-size: cover;
    background-position: center;
    height: 550px;
}

.product ul {
    list-style: none;
    font-family: 'Raleway';
    color: rgba(255, 255, 255, 0.833);
    font-size: 18px;
    width: 100%;
    padding: 0px;
}

.product li {
    margin: 8px 0px;
}

.product-container {
    width: max-content;
    background-color: rgba(0, 0, 0, 0.50);
    height: inherit;
    display: flex;
    margin: auto auto auto auto;
}

.product-image {
    flex: 1;
    width: inherit;
    height: inherit;
    margin: auto 65px auto 80px;
    background-image: url(/image-assets/tough-mojo-jacket-img1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 350px;
}

.product-description {
    flex: 1;
}

.about-product {
    background-color: #898989;
    height: 200px;
}

.product-category {
    display: flex;
    margin: 10px 25px;
    width: inherit;
    height: 30px;
    color: white;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.category-name ::after {
    text-decoration: underline;
    content: 'Product Category';
    font-family: Arial, Helvetica, sans-serif;
}

.product-type ::before {
    content: '>';
    text-decoration: none;
    margin: 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.product-type ::after {
    font-weight: 700;
    content: 'Product Type';
    font-family: Arial, Helvetica, sans-serif;
}

.reviews {
    background-color: #00314f;
    height: 200px;
}

footer {
    background-color: black;
    height: 50px;
}

footer .grid-container {
    padding: 10px;
    background-color: black;
}

footer .logo-main {
    background-size: 100px;
    flex: 1;
}

footer .nav-links li {
    padding: 0px;
}




