  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
    background-color: black;
}

h1, h2, h3, p {
    font-family: 'Raleway';
    color: rgba(255, 255, 255, 0.85);
}

h1, h2, h3 {
    font-weight: 400;
}

h1 {
    font-size: 30px;
}

p {
    font-family: 'Raleway';
    color: rgba(255, 255, 255, 0.897);
    margin: 5px;
}

.main-content{
    min-width: max-content;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.row-container {
    display: flex;
    flex-direction: row;
    width: inherit;
    height: 500px;
}

.review-grid {
    display: grid;
    /* grid-template-columns: 150px auto 115px 200px 100px; */
    grid-template-rows: 40px auto auto;
    grid-gap: 10px;
    margin: 30px 0px;
}

.review-grid #review-image img {
    height: 150px;
}

#review-image {
    grid-row: 1/3;
    grid-column: 1/2;
}

#review-description {
    grid-row: 2/4;
    grid-column: 2/6;
}

#review-name {
    grid-row: 3;
    grid-column: 1;
}

#review-title {
    grid-row: 1;
    grid-column: 2;
}

#review-title h2 {
    font-size: 20px;
    font-weight: 700;
}

#review-date {
    grid-row: 1/1;
    grid-column: 3/3;
}

#review-rating {
    grid-row: 1/1;
    grid-column: 4/4;
    display: flex;
    margin: auto 0px 0px 0px;
}

.margin-right {
    margin-right: 20px;
}

.parent-container {
    width: 850px;
    display: flex;
    margin: 0px auto;
    height: inherit;
}


.header-background {
    height: 150px;
    background-color: black;
}

.grid-container {
    display: flex;
    width: inherit;
    height: inherit;
}

.logo-main {
    height: 100%;
    margin: auto;
    background-image: url(image-assets/axiom-logo-main.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left center;
    width: 100%;
    flex: 2;
}

.container {
    margin: auto;
    flex: 1;
}

.search-box {
    width: 260px;
    height: 25px;
    background-color: white;
    margin: auto 0px 30px auto;
}

.search-box-text ::after {
    content: 'Search for gear';
}

.sub-nav {
    width: fit-content;
    height: 25px;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    margin: auto 0px auto auto;

}

.nav-links {
    margin-top: 2.5px;
}

.nav-links li:not(:last-child) ::after {
    content: '|';
    margin: 15px;

}

footer .nav-links li:not(:last-child) ::after {
    margin: 5px;
}

.nav-links ul {
    list-style: none;
    display: flex;
    margin: 5px;
    color: white;
}

.nav-background .nav-links ul {
    margin: auto;
    color: #00314f;
    font-size: 25px;
    width: 800px;
    padding: 0px;
}

.nav-background .nav-links li ::after {
    margin: 0px 45px 0px 45px;
    }

    .nav-background .nav-links li {
        flex: 1;
        }



.social-icons {
    background-image: url(image-assets/fb-icon.png), url(image-assets/twitter-icon.png);
    background-position: left center, right center;
    background-repeat: no-repeat, no-repeat;
    background-size: 6px 11px, 16px 10px;
    width: 40px;

}



.nav-background {
    background-color:#ececec;
    height: 60px;
    font-family: 'Raleway', sans-serif;
    color: black;
    display: flex;
}




.product {
    background-image: url("image-assets/topsection-background.png");
    background-size: cover;
    background-position: center;
    height: max-content;
}

.product ul {
    list-style: none;
    font-family: 'Raleway';
    color: rgba(255, 255, 255, 0.833);
    font-size: 14px;
    width: 100%;
    padding: 0px;
}

.product li {
    margin: 8px 0px;
}

.product-container {
    width: max-content;
    background-color: rgba(0, 0, 0, 0.50);
    height: max-content;
    display: flex;
    margin: auto auto auto auto;
}

.product-image {
    flex: 2;
    width: inherit;
    height: inherit;
    margin: auto 0px auto 15px;
    background-image: url(image-assets/tough-mojo-jacket-img1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 350px;
}

.product-image-2 {
    flex: 2;
    width: 500px;
    height: 500px;
    margin: 20px 15px auto auto;
    background-image: url(image-assets/tough-mojo-jacket-img2.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

.product-description {
    flex: 1;
    padding-top: 20px;
}

.about-product .product-description {
padding-bottom: 150px;
}

.product-buttons {
    display: grid;
    grid-template-columns: 90px 90px;
    grid-template-rows: 30px 30px;
    grid-gap: 30px 20px; 
    margin-top: 40px;
    font-size: 10px;
}



.about-product {
    background-color: #898989;
    height: max-content;
}

.product-category {
    display: flex;
    margin: 10px 25px;
    width: inherit;
    height: 30px;
    color: white;
    font-size: 12px;
}
.category-name ::after {
    text-decoration: underline;
    content: 'Product Category';
    font-weight: 100;
}



.product-type ::before {
    content: '>';
    text-decoration: none;
    margin: 0px 5px;
}

.product-type ::after {
    font-weight: 700;
    content: 'Product Type';
}

.reviews {
    background-color: #00314f;
    height: max-content;
}

footer {
    background-color: black;
    height: 50px;
}

footer .grid-container {
    padding: 10px;
    background-color: black;
}

footer .logo-main {
    background-size: 100px;
    flex: 1;
}

footer .nav-links li {
    padding: 0px;
}




