.logo-header {
    background-color: black;
    height: 150px;
}

#social-media-nav {
    display: inline-flex;
    color: white;
    height: 25px;
    padding-top: 50px;
    margin-top: 1000px;
}

.logo-header, img {
    margin: auto;
}

img, #social-media-nav {
    margin-top: 18px;
    margin-right: 20px;
}



.navigation {
    background-color:#ececec;
    height: 50px;
}

.product-background {
    background-image: url("image-assets/topsection-background.png");
    background-size: cover;
    background-position: center;
    height: 500px;
}

.product-description {
    background-color: #898989;
    height: 750px;
}

.testimonials {
    background-color: #00314f;
    height: 500px;
}

.footer {
    background-color: black;
    height: 50px;
}