  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');



.margin-right {
    margin-right: 20px;
}


.header-background {
    height: 150px;
    background-color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: inherit;
}

.logo-main {
    height: 100%;
    margin: auto;
    background-image: url(image-assets/axiom-logo-main.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
    width: 100%;
    max-width: 500px;
}

.container {
    width: inherit;
    margin: auto;
}

.search-box {
    width: 350px;
    height: 25px;
    background-color: white;
    margin-bottom: 30px;
}

.search-box-text ::after {
    content: 'Search for gear';
}

.sub-nav {
    width: fit-content;
    height: 25px;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    margin: auto;
}

.nav-links {
    margin-top: 2.5px;
}

.nav-links li:not(:last-child) ::after {
    content: '|';
    margin: 15px;

}

footer .nav-links li:not(:last-child) ::after {
    margin: 5px;
}

.nav-links ul {
    list-style: none;
    display: flex;
    margin: 5px;
    color: white;
}

.nav-background .nav-links ul {
    margin: auto;
    color: #00314f;
    font-size: 25px;
}

.nav-background .nav-links li ::after {
    margin: 0px 63px;
    }

.social-icons {
    background-image: url(image-assets/fb-icon.png), url(image-assets/twitter-icon.png);
    background-position: left center, right center;
    background-repeat: no-repeat, no-repeat;
    background-size: 6px 11px, 16px 10px;
    width: 40px;

}



.nav-background {
    background-color:#ececec;
    height: 60px;
    font-family: 'Raleway', sans-serif;
    color: black;
    display: flex;
}




.product {
    background-image: url("image-assets/topsection-background.png");
    background-size: cover;
    background-position: center;
    height: 500px;
}

.about-product {
    background-color: #898989;
    height: 200px;
}

.reviews {
    background-color: #00314f;
    height: 200px;
}

footer {
    background-color: black;
    height: 50px;
}

footer .grid-container {
    padding: 10px;
    background-color: black;
}

footer .logo-main {
    background-size: 100px;
}

footer .nav-links li {
    padding: 0px;
}




